body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e8edf0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,.2); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.3); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,.4)
}

::-webkit-scrollbar-corner{
  opacity: .5;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.container {
  /* width: 100%; */
  height: calc(100vh - 95px);
  display: flex;
  margin: 25px 50px 25px 20px;
}

.editor,
.preview {
  flex-basis: calc(50% - 20px);
  height: calc(100vh - 105px);
  /* margin: 0 10px; */
  /* box-shadow: 0px 0px 6px -2px #888; */
  box-shadow: 0 6px 8px rgba(102, 119, 136, .03),
    0 1px 2px rgba(102, 119, 136, .3),
    0 8px 12px rgba(58, 193, 203, .1);
  padding: 0 16px;

  background: #fff;
}

.sidebar-list {
  flex-basis: calc(20% - 20px);
}

.md_file {
  padding: 10px 15px;
  background: rgb(221, 225, 230);
}

.md_file span{
  color: rgba(0,0,0,.3)
}

.md_file:hover {
  padding: 10px 15px;
  background: rgb(217, 221, 223);
}
.active{
  background: rgb(206, 211, 214);
}


.new_file{
    background: #62b4e6;
}

.editor {
  /* width: 400px; */
  background: #273238;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.preview {
  /* width: 400px; */
  padding: 0 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content {
  overflow: auto;
  height: calc(100% - 100px);
}

.btn-save{
  padding: 10px 15px;
  background: #2b9de4;
  color: #fff;
  border-radius: 3px;
  border: none;

  float:right;
}

.editable{
  border: 1px solid #323f46;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.4) inset;
  background: #232c31;
  color: rgba(250, 250, 255, 0.7)
}
textarea {
  height: calc(100vh - 250px);
  width: calc(100% - 25px);

}

ul li {
  list-style-type: disc;
  margin-left: 40px;
}